.container {
  width: 220px;
  /* background-color: rebeccapurple; */
}

.thumbnail {
  border-radius: 10px;
}

.thumbnail:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
}

.category_name {
  font-weight: 600;
  text-transform: capitalize;
  width: 220px;
  /* background-color: aliceblue; */

  /* height: 40px; */
  text-align: center;
  margin-top: 15px;
  /* background-color: red; */
}
