.container {
  width: 220px;
  position: relative;
  border-radius: 10px;
  transition: box-shadow 0.1s ease-out;
  border: 1px solid #757575;
}

.thumbnail {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #757575;
}

.container:hover {
  box-shadow: 9px 9px 20px #d1d1d1, -9px -9px 20px #ffffff;
}

.heart_icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  color: orangered;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  opacity: 0;
  border: none;
}

.container:hover .heart_icon {
  opacity: 1;
}

.category_name {
  font-weight: 600;
  text-transform: capitalize;
  width: 220px;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
  color: #757575;
}
