.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.log_btn {
  height: 2.5rem;
  padding: 0px 20px;
  background-color: var(--btn_bg);
  border: 1px solid var(--secondary);
  border-radius: 20px;
  color: var(--secondary);
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

.log_btn:hover,
.sign_in:hover {
  background-color: var(--btn_bg_hover);
}

.fav_link,
.cart_link {
  color: transparent;
}

.fav_link:hover,
.cart_link:hover {
  color: var(--secondary);
}

.fav_link,
.cart_link {
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: center;
}

.quantity_fav,
.quantity_cart {
  position: absolute;
  top: -15px;
  left: 23px;
  background-color: orangered;
  color: white;
  border-radius: 50%;
  padding: 4px 10px;
  font-weight: bold;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
