.back {
  margin: 0 5rem;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
}

.btn_back {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #f0f0f0;
}

.btn_back > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.btn_back:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.btn_back:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}

.container {
  position: relative;
  display: flex;
  margin: 0rem 5rem;
  padding: 40px 40px;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
}

.container:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
}

.thumbnail_container {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  padding: 20px 40px;
}

.img_thumbnail {
  width: 380px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.heart_icon {
  position: absolute;
  top: 70px;
  right: 45px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.info_product_container {
  width: 550px;
  height: 340px;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px 40px;
}

.info_product > div {
  width: 530px;
  min-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid pink; */
}

.product_discount {
  font-size: 2.5rem;
  font-weight: 700;
  color: orangered;
}

.product_discount_info {
  font-weight: 600;
  color: orangered;
  font-size: 1.5rem;
}

.title {
  font-weight: 600;
}

.rating {
  font-weight: bold;
  font-size: 1rem;
}

.description {
  text-align: center;
  font-size: 1rem;
}

.add_btn_cart {
  width: 320px;
  height: 3rem;
  padding: 0px 20px;
  background-color: var(--btn_bg);
  border: 1px solid var(--secondary);
  border-radius: 20px;
  color: var(--secondary);
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.5;
  margin: 15px 15px;
}

.add_btn_cart:hover {
  background-color: var(--btn_bg_hover);
  opacity: 1;
}

.nav_link {
  width: 320px;
  font-size: 1rem;
  height: 3.5em;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.nav_link_category {
  text-decoration: none;
  display: flex;
  height: 2.5em;
  width: 500px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  background: #f0f0f0;
  font-weight: 600;
  border-radius: 20px;
}

.nav_link_category:hover {
  font-size: 1.2em;
  transform: translateX(-5px);
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}
