.back {
  margin: 3rem 5rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
}

.btn_back {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #f0f0f0;
}

.btn_back > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.btn_back:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.btn_back:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0rem 5rem;
  padding: 40px 40px;
  /* background-color: rgba(114, 121, 122, 0.3); */
  background-color: white;
  border-radius: 10px;
}

.container:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  /* transform: translateY(-2px); */
}

.img_thumbnail {
  /* border: 1px solid red; */
  width: 380px;
  height: 250px;
  border-radius: 10px;
}

.info_product_container {
  /* border: 1px solid red; */
  width: 750px;
  height: 300px;
  display: flex;
  justify-content: center;
}

.info_product {
  /* border: 1px solid blue; */
  width: 750px;
  /* background-color: orangered; */
}

.info_product > div {
  /* border: 1px solid black; */
  width: 750px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  border: 1px solid red;
  background-color: pink;
  height: 80px;
}
/* 
.nav_link_container {
  border: 1px solid black;
} */

.nav_link {
  /* border: 1px solid red; */
  font-size: 1.2rem;
  font-weight: 600;
  width: 750px;
  min-height: 3em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_link_category {
  text-decoration: none;
  /* background-color: pink; */
  display: flex;
  height: 2em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  background: #f0f0f0;
  font-weight: 700;
}

.nav_link_category:hover {
  font-size: 1.2em;
  transform: translateX(-5px);
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}
