.back {
  margin: 3rem 5rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
}

.btn_back {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #f0f0f0;
}

.btn_back > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.btn_back:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.btn_back:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0rem 5rem;
  padding: 40px 40px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.container:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  /* transform: translateY(-2px); */
}

.thumbnail_container {
  /* border: 1px solid red; */
  position: relative;
}

.img_thumbnail {
  /* border: 1px solid red; */
  width: 380px;
  height: 250px;
  border-radius: 10px;
}

.heart_icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.info_product_container {
  border: 1px solid red;
  width: 750px;
  min-height: 300px;
  display: flex;
  justify-content: center;
}

/* .container_btn_add {
  min-height: 40px;
  border: 1px solid red;
  background-color: yellowgreen;
} */

.add_btn_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 3rem;
  padding: 0px 20px;
  background-color: var(--btn_bg);
  border: 1px solid var(--secondary);
  border-radius: 20px;
  color: var(--secondary);
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 18px;
  opacity: 0.5;
}

.add_btn_cart:hover {
  background-color: var(--btn_bg_hover);
  opacity: 1;
}

.info_product {
  /* border: 1px solid blue; */
  width: 750px;
  /* background-color: orangered; */
}

.info_product > div {
  /* border: 1px solid black; */
  width: 750px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  border: 1px solid red;
  background-color: pink;
  height: 80px;
}
/* 
.nav_link_container {
  border: 1px solid black;
} */

.nav_link {
  /* border: 1px solid red; */
  font-size: 1.2rem;
  width: 750px;
  min-height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link_category {
  text-decoration: none;
  display: flex;
  height: 2em;
  width: 500px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  background: #f0f0f0;
  font-weight: 600;
}

.nav_link_category:hover {
  font-size: 1.2em;
  transform: translateX(-5px);
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}
