.container {
  display: block;
  color: var(--new_secondary);
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px 20px;
  text-decoration: none;
}

.container:hover {
  background-color: #efefef;
}
