.container {
  overflow: hidden;
  display: flex;
  border-radius: 20px;
  padding-left: 10px;
  background-color: var(--bg);
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  height: 43px;
  border: var(--nm_border);
}
