.nm_loading,
.container_not_found,
.container_error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 0.55rem;
  gap: 1rem;
  padding: 40px 40px;
}

.nm_loading {
  gap: 2rem;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: var(--nm_shadow_inset);
}

.wrapper::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: var(--nm_shadow_inset);
}

.text {
  color: var(--new_primary);
  font-size: 1rem;
  display: block;
  text-align: center;
  font-weight: bold;
  flex: 1;
}

.second_text {
  color: var(--new_secondary);
  font-size: 1rem;
  display: block;
  text-align: center;
  font-weight: normal;
  flex: 1;
}

.circle {
  height: 90px;
  width: 90px;
  position: absolute;
  animation: rotate 5s linear infinite;
}

.circle::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--loading_color);
  box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.icon {
  font-size: 15rem;
  display: flex;
}

.product_not_found,
.message {
  color: var(--new_primary);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.oops {
  color: var(--new_secondary);
  font-size: 1rem;
  text-align: center;
}

/* ----------------------------------------------------------------------- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 15rem;
}

.back_button {
  display: flex;
  justify-content: flex-start;
}

.container_without_products {
  margin: 1rem 15rem;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 40px 40px;
  border-radius: 0.55rem;
}

.no_cart_icon {
  font-size: 12rem;
  color: var(--cart_icon);
  display: flex;
  justify-content: center;
}

.no_products_text {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  position: relative;
  color: var(--new_secondary);
}

/* --------------------------------------------- */

.main_container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 1rem 15rem;
}

.container_with_products {
  border-radius: 0.55rem;
}

.container_order_summary {
  border-radius: 0.55rem;
  height: 100%;
  box-sizing: border-box;
  padding: 15px 15px;
  color: var(--new_soft_secondary);
  box-shadow: var(--nm_shadow);
  border: var(--nm_border);
}

.container_order_summary > div {
  padding-bottom: 10px;
  display: block;
  text-align: center;
}

.order_summary {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--new_primary);
}

.saved_with {
  display: flex;
  justify-content: space-between;
}

.saved {
  font-weight: normal;
}

.saved::before {
  content: "Saved";
  font-weight: bold;
  padding-right: 4px;
}

.with_promotions {
  padding-right: 40px;
}

.total_price,
.money_save {
  color: var(--new_secondary);
  font-weight: bold;
}

.money_save,
.total_items,
.number_total {
  margin-top: 5px;
}

.number_items,
.total_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number_total {
  font-weight: bold;
  color: var(--new_primary);
  font-size: 1.25rem;
}

.all_taxes {
  font-size: 0.9rem;
}

.container_buy_btn {
  display: flex;
  justify-content: center;
}

.buy_btn {
  border: var(--nm_border);
  box-shadow: var(--nm_shadow);
  color: var(--new_primary);
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  height: 2.2rem;
  padding: 0 1rem;
  background-color: var(--bg);
}

.buy_btn:hover {
  cursor: pointer;
  box-shadow: inset -3px -3px 6px #fff, inset 3px 3px 6px #b8b9be;
}

@media (width < 1200px) {
  .header {
    margin: 1rem 15rem;
  }
}

@media (width < 1247px) {
  .no_products_text {
    font-size: 1rem;
  }
}

@media (width < 1170px) {
  .main_container {
    margin: 0rem 10rem;
  }

  .header {
    margin: 1rem 10rem;
  }
}

@media (width < 1105px) {
  .main_container {
    margin: 0rem 10rem;
  }
}

@media (width < 1090px) {
  .main_container {
    margin: 0rem 10rem;
  }
}

@media (width < 1000px) {
  .main_container {
    margin: 0rem 5rem;
  }
  .header {
    margin: 1rem 5rem;
  }
  .container_error > :nth-child(2) {
    text-align: center;
  }
  .container_error > :nth-child(3) {
    text-align: center;
  }
}

@media (width < 900px) {
  .main_container,
  .container_with_products,
  .container_without_products,
  .container_order_summary {
    margin: 0rem 0.5rem;
  }
  .header {
    margin: 1rem;
  }
  .nm_loading {
    flex-direction: column;
  }
}

@media (width < 720px) {
  .main_container {
    gap: 0rem;
  }
  .text,
  .product_not_found {
    font-size: 1.3rem;
  }
  .second_text,
  .oops {
    font-size: 1rem;
  }
}

@media (width < 620px) {
  .main_container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .icon {
    font-size: 5rem;
  }
}
