.back {
  margin: 0 5rem;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
}

.btn_back {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #f0f0f0;
}

.btn_back > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.btn_back:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.btn_back:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}

.container {
  margin: 0rem 5rem;
  padding: 40px 40px;
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid #dadada;
  border-radius: 10px;
  margin-bottom: 30px;
}

.container_thumb {
  grid-column: 1;
  grid-row: 1;
}

.thumb {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.container_info_product {
  grid-column: 2;
  grid-row: 1;
}

.container_info_product > div {
  padding: 0px 60px;
  margin: 10px;
  display: flex;
}

.title_price {
  display: flex;
  justify-content: space-between;
}

.title {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 700;
  color: orangered;
}

.price {
  font-size: 1.2rem;
  color: orangered;
  font-weight: 600;
}

.description {
  font-size: 1rem;
}

.brand {
  font-weight: bold;
  font-size: 1rem;
}

/* .container_btn {
  grid-column: 1/3;
  grid-row: 2;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  gap: 10px;
} */
