.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  border-bottom: 1px solid rgb(230, 230, 230);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.market_fusion {
  text-decoration: none;
  font-size: 2rem;
  color: var(--primary);
  font-weight: 700;
}

.market_fusion:hover {
  color: var(--btn_bg_hover);
}

.search_container {
  overflow: hidden;
  display: flex;
  border-radius: 20px;
  padding-left: 10px;
  background-color: hsl(0, 0%, 95%);
}

.search_input {
  border: none;
  background: none;
  width: 30ch;
  font-size: 1rem;
}

.search_input::placeholder {
  color: gray;
}

.search_input:focus {
  outline: none;
}

.results_container {
  position: relative;
}

.search_btn {
  height: 2.5rem;
  display: flex;
  align-items: center;
  border: none;
  gap: 0.25rem;
  padding-right: 20px;
  padding-left: 15px;
  background-color: var(--btn_bg);
  border: 1px solid var(--secondary);
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

.search_btn:hover {
  background-color: var(--btn_bg_hover);
}

.action_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.log_btn {
  height: 2.5rem;
  padding: 0px 20px;
  background-color: var(--btn_bg);
  border: 1px solid var(--secondary);
  border-radius: 20px;
  color: var(--secondary);
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

.log_btn:hover,
.sign_in:hover {
  background-color: var(--btn_bg_hover);
}

.fav_link,
.cart_link {
  color: transparent;
}

.fav_link:hover,
.cart_link:hover {
  color: var(--secondary);
}

.fav_link,
.cart_link {
  position: relative;
  width: fit-content;
}

.quantity_fav,
.quantity_cart {
  position: absolute;
  top: -15px;
  left: 25px;
  background-color: orangered;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-weight: bold;
}
