.our_categories {
  color: var(--secondary);
  text-align: center;
}

.container {
  margin: 0 5rem;
  background-color: white;
  border-radius: 10px;
  /* border: 1px solid red; */
}

.container_categories {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  gap: 30px 55px;
  padding: 10px 10px;
  /* border: 1px solid blue; */
}

.category_name {
  text-decoration: none;
  padding: 10px;
}
