.container {
  padding-top: 1rem;
}
.loading_container {
  margin: 0rem 5rem;
  /* background-color: white; */
  border-radius: 10px;
  box-shadow: 9px 9px 20px #d1d1d1, -9px -9px 20px #ffffff;
  font-weight: 600;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 40px;
}

.loading_svg,
.loading_string,
.error_loading {
  margin-bottom: 15px;
}

.h2_our_categories,
.h2_promotions {
  color: var(--secondary);
  text-align: center;
  /* background-color: white; */
  margin: 0 5rem;
  padding: 15px;
  margin-top: 40px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.container_promotions,
.container_categories {
  margin: 0 5rem;
  padding: 0 20px;
  /* background-color: white; */
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-bottom: 55px;
  justify-content: space-between;
}

.container_promotions {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px 30px;
}

.nav_link_promotions,
.nav_link_categories {
  text-decoration: none;
}

.container_categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px 30px;
}
