.highlight {
  color: var(--primary);
  font-weight: bold;
  text-transform: capitalize;
}

.search_result {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
}

.search_result:hover {
  background-color: #efefef;
}

.selected {
  background-color: #f0f0f0;
  background-color: red;
}
