.container {
  margin: 0rem 5rem;
  padding: 40px 40px;
  background-color: white;
  border-radius: 10px;
}

.flex_container {
  display: flex;
  justify-content: space-between;
}

.thumb_container {
  border: 1px solid red;
}

.img_thumb {
  width: 200px;
}

.info_product {
  border: 1px solid black;
  width: 400px;
  min-height: 100px;
  text-align: center;
}
