.btn_back {
  width: 82px;
  height: 43px;
  color: var(--new_primary);
  background-color: var(--bg);
  border-radius: 0.55rem;
  font-size: 1rem;
  border: var(--nm_border);
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
}

.btn_back:hover {
  cursor: pointer;
  box-shadow: inset -3px -3px 6px #fff, inset 3px 3px 6px #b8b9be;
  transform: translateY(-2px);
}

.btn_back > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.btn_back:hover > svg {
  transform: translateX(-5px);
}

@media (width < 1170px) {
  .back {
    margin: 1rem 10rem;
  }
}

@media (width < 1000px) {
  .back {
    margin: 1rem 5rem;
  }
}

@media (width < 900px) {
  .back {
    margin: 1rem 0.5rem;
  }
}
