.back {
  margin: 0 5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
}

.btn_back {
  width: 82px;
  height: 43px;
  color: var(--new_primary);
  background-color: var(--bg);
  border-radius: 0.55rem;
  font-size: 1rem;
  border: var(--nm_border);
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
}

.btn_back:hover {
  cursor: pointer;
  box-shadow: inset -3px -3px 6px #fff, inset 3px 3px 6px #b8b9be;
  transform: translateY(-2px);
}

.btn_back > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.btn_back:hover > svg {
  transform: translateX(-5px);
}
