.container {
  margin: 0rem 5rem;
  padding: 40px 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 9px 9px 20px #d1d1d1, -9px -9px 20px #ffffff;
}

.container_of_others_containers {
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.product_images {
  display: grid;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 10px;
  outline: 1px solid #757575;
  background-color: #f0f0f0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.overscroll_container {
  max-height: 430px;
  overflow-y: auto;
}

.images {
  width: 150px;
  height: 130px;
  object-fit: cover;
}

.images:hover {
  opacity: 0.7;
  cursor: pointer;
}

.container_thumbnail {
  position: relative;
  width: 430px;
  height: 430px;
  border-radius: 10px;
  border: 1px solid #757575;
  background-color: #f0f0f0;
}

.img_thumbnail {
  width: 430px;
  height: 430px;
  object-fit: cover;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
}

.container_heart_icon {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.container_info_product {
  width: 430px;
  height: 430px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  outline: 1px solid #757575;
  background-color: #f0f0f0;
}

.info_product > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_discount {
  font-size: 2.5rem;
  font-weight: 700;
  color: orangered;
  min-height: 40px;
  padding: 5px 70px;
  box-sizing: border-box;
}

.product_discount_info {
  font-weight: 600;
  color: orangered;
  font-size: 1.5rem;
  min-height: 45px;
  padding: 0px 70px;
  box-sizing: border-box;
}

.container_price_without_discount > div {
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
  padding: 15px 15px;
  font-size: 1.4rem;
  font-weight: 700;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 600;
  text-transform: capitalize;
  min-height: 40px;
  padding: 0px 70px;
  box-sizing: border-box;
}

.rating {
  font-weight: bold;
  font-size: 1rem;
  min-height: 40px;
  padding: 0px 70px;
  box-sizing: border-box;
}

.description {
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  min-height: 90px;
  padding: 0px 70px;
  box-sizing: border-box;
}

.add_btn_cart {
  width: 320px;
  height: 3rem;
  padding: 0px 20px;
  background-color: var(--btn_bg);
  border: 1px solid var(--secondary);
  border-radius: 20px;
  color: var(--secondary);
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.5;
  margin: 15px 15px;
}

.add_btn_cart:hover {
  background-color: var(--btn_bg_hover);
  opacity: 1;
}

.add_btn_cart_are_in_cart {
  width: 320px;
  height: 3rem;
  padding: 0px 20px;
  background-color: var(--btn_bg_hover);
  border: 1px solid var(--secondary);
  border-radius: 20px;
  color: var(--secondary);
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 1;
  margin: 15px 15px;
}

.nav_link {
  width: 320px;
  font-size: 1rem;
  height: 3.5em;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.nav_link_category {
  text-decoration: none;
  display: flex;
  height: 2.5em;
  width: 500px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  /* background: #f0f0f0; */
  background-color: white;
  font-weight: 600;
  border-radius: 20px;
  outline: 2px solid black;
}

.nav_link_category:hover {
  font-size: 1.3em;
  transform: translateX(-5px);
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}
