.loading_container {
  padding: 1rem 15rem;
  background-color: var(--bg);
  border-radius: 10px;
  box-shadow: 9px 9px 20px #d1d1d1, -9px -9px 20px #ffffff;
  font-weight: 600;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 40px;
}

.loading_svg,
.loading_string,
.error_loading {
  margin-bottom: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 15rem;
}

.back_button {
  display: flex;
  justify-content: flex-start;
}

.container_with_fav,
.container_without_fav {
  margin: 1rem 15rem;
  border-radius: 0.55rem;
}

.container_with_fav {
  display: grid;
  grid-template-columns: 1fr;
}

.container_without_fav {
  display: grid;
  justify-content: center;
  align-items: center;
  /* box-shadow: var(--nm_shadow);
  border: var(--nm_border); */
}

.no_fav_heart {
  display: flex;
  justify-content: center;
  font-size: 12rem;
  color: var(--fav_icon);
}

.no_fav_text {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
  position: relative;
  color: var(--new_primary);
}

@media (width < 1200px) {
  .container_with_fav,
  .container_without_fav {
    margin: 0rem 15rem;
  }
  .header {
    margin: 1rem 15rem;
  }
}

@media (width < 1170px) {
  .container_with_fav,
  .container_without_fav {
    margin: 0rem 10rem;
  }
  .header {
    margin: 1rem 10rem;
  }
}

@media (width < 1000px) {
  .container_with_fav,
  .container_without_fav {
    margin: 0rem 5rem;
  }
  .header {
    margin: 1rem 5rem;
  }
}

@media (width < 900px) {
  .container_with_fav,
  .container_without_fav {
    margin: 0rem 1rem;
  }

  .header {
    margin: 1rem;
  }
}

@media (width < 375px) {
  .no_fav_text {
    font-size: 1rem;
  }
}
