.container {
  border: 1px solid rgb(195, 188, 188);
  height: 100%;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
  position: relative;
  width: 100%;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.container:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
}

.container_percentage_title_thumb {
  padding: 20px 10px;
}

.percentage_off_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100px;
  width: 130px;
  margin-left: -13px;
}

.seventeen {
  color: orangered;
  font-size: 3.5rem;
  font-weight: 700;
  padding: 0px 10px;
  margin-top: -25px;
}

.percentage_off {
  margin-left: -40px;
  margin-top: -15px;
  position: relative;
  height: 90px;
  color: orangered;
  font-size: 1.7rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.percentage_off::after {
  content: "off";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 1rem;
  padding: 30px 0px;
  margin-left: -2px;
}

.product_brand {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: -50px;
  margin-bottom: 10px;
}

.thumbnail {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.price_container {
  border: 1px solid #757575;
  background-color: #ffffff;
  color: black;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  height: 25px;
}

.discount {
  font-weight: bold;
}

.price {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.heart_icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  color: orangered;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
  border: none;
}

.container:hover .heart_icon {
  opacity: 1;
}
