.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 90px;
  border-radius: 50%;
  box-shadow: var(--nm_shadow_inset);
}

.wrapper::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: var(--nm_shadow_inset);
}

.text {
  color: var(--new_primary);
  font-weight: bold;
  font-size: 1rem;
  display: block;
  flex: 1;
}

.second_text {
  color: var(--new_secondary);
  font-size: 1rem;
  display: block;
  text-align: center;
  font-weight: normal;
  flex: 1;
}

.circle {
  height: 50px;
  width: 50px;
  position: absolute;
  animation: rotate 5s linear infinite;
}

.circle::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--loading_color);
  box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.container_not_found,
.container_error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.55rem;
  box-shadow: var(--nm_shadow);
  border: var(--nm_border);
  gap: 1rem;
  padding: 20px 20px;
}

.icon {
  font-size: 5rem;
  display: flex;
}

.product_not_found,
.message {
  color: var(--new_primary);
  font-size: 1rem;
  font-weight: bold;
}

.oops {
  color: var(--new_secondary);
  font-size: 1rem;
  text-align: center;
}

.nm_loading {
  align-items: center;
}

.nm_loading > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------------------------------------------------------- */
.container,
.nm_loading {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid #fafbfe;
  border-color: #d1d9e6;
  border-radius: 0.55rem;
  box-sizing: border-box;
  background-color: var(--bg);
  margin-top: 0px;
  box-shadow: 2px 2px 5px #b8b9be, -3px -3px 7px #fff;
  width: 300px;
  height: fit-content;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  height: fit-content;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.3rem;
  color: var(--new_primary);
  flex: 1;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
}

.thumbnail_container {
  display: flex;
  justify-content: center;
  height: 150px;
  position: relative;
}

.thumbnail {
  border-radius: 0.55rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.price_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}

.price {
  text-decoration: line-through;
  color: var(--new_secondary);
  font-size: 1rem;
}

.discount {
  color: var(--text_warning);
  color: var(--text_warning);
}

.container:hover {
  box-shadow: var(--nm_shadow_inset);
}

@media (width < 4000px) {
  .container {
    width: 600px;
  }
  .title {
    font-size: 1.1rem;
  }
}

@media (width < 1100px) {
  .container {
    width: 230px;
  }
  .container_not_found,
  .container_error {
    flex: 1;
  }
}

@media (width < 1074px) {
  .container {
    width: 330px;
  }
}

@media (width < 1013px) {
  .container {
    width: 300px;
  }
}

@media (width < 1000px) {
  .container {
    width: 380px;
  }
}

@media (width < 900px) {
  .container {
    width: 380px;
  }
}

@media (width < 952px) {
  .container {
    width: 350px;
  }
}

@media (width < 765px) {
  .container {
    width: 200px;
  }
}

@media (width < 695px) {
  .container {
    width: 260px;
  }
}

@media (width < 585px) {
  .container {
    width: 150px;
  }
}

@media (width < 546px) {
  .container {
    width: 200px;
  }
}

@media (width < 465px) {
  .container {
    width: 120px;
  }
  .price_container {
    font-size: 0.8rem;
  }
}

@media (width < 456px) {
  .container {
    width: 180px;
  }
}

@media (width < 424px) {
  .container {
    width: 100px;
  }
}
