.nm_loading {
  border-radius: 0.55rem;
  box-shadow: var(--nm_shadow);
  border: var(--nm_border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 20px 20px;
}

.wrapper {
  margin-top: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: var(--nm_shadow_inset);
}

.wrapper::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: var(--nm_shadow_inset);
}

.text {
  color: var(--new_primary);
  font-size: 2rem;
  display: block;
  flex: 1;
  text-align: center;
}

.second_text {
  color: var(--new_secondary);
  font-size: 1rem;
  display: block;
  flex: 1;
  text-align: center;
}

.circle {
  height: 60px;
  width: 60px;
  position: absolute;
  animation: rotate 5s linear infinite;
}

.circle::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--loading_color);
  box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.container_not_found,
.container_error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.55rem;
  box-shadow: var(--nm_shadow);
  border: var(--nm_border);
  padding: 20px 20px;
  flex: 1;
}

.icon {
  font-size: 5rem;
  display: flex;
}

.product_not_found,
.message {
  color: var(--new_primary);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.oops {
  color: var(--new_secondary);
  font-size: 1.5rem;
  text-align: center;
}

/* ---------------------------------------------------------------------- */
.container {
  text-decoration: none;
  outline: var(--nm_border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--nm_shadow);
  border: var(--nm_border);
}

.thumbnail_container {
  position: relative;
  height: fit-content;
}

.thumbnail {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid rgb(195, 188, 188);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
}

.product_title {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}

.rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin: 5px 10px;
}

.number_rating {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  background-color: transparent;
  color: var(--new_secondary);
  padding: 1px 0.875em;
  font-size: 0.9rem;
  font-weight: bold;
  border: 0.0625rem solid #d1d9e6;
  border-radius: 10rem;
}

.container_price_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price_container,
.price_container_no_promo {
  color: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-weight: bold;
}

.price_container_no_promo {
  font-size: 1rem;
}

.discount {
  font-weight: bold;
  font-size: 0.8rem;

  color: var(--text_warning);
}

.price {
  color: var(--new_secondary);
  font-size: 1rem;

  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.price_no_promo {
  font-weight: 600;
}

.container_btn_add {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container_heart_icon {
  bottom: 0.65rem;
  right: 0.35rem;
  cursor: pointer;
  border: none;
  color: var(--fav_icon);
  box-shadow: var(--nm_shadow);
  border-radius: 100%;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: var(--nm_border);
  font-size: 2rem;
}

.add_btn_cart {
  border: var(--nm_border);
  box-shadow: var(--nm_shadow);
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  height: 2.2rem;
  padding: 0 1rem;
  margin: 10px;
  background-color: var(--bg);
}

.add_btn_cart_are_in_cart {
  opacity: 0.8;
}

.container_heart_icon:hover,
.add_btn_cart:hover {
  box-shadow: var(--nm_shadow_inset);
}

@media (width < 1285px) {
  .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 5px 10px;
  }

  .price_container,
  .price_container_no_promo {
    gap: 3rem;
  }
}

@media (width < 890px) {
  .container {
    justify-content: center;
  }
}

@media (width < 500px) {
  .price_container,
  .price_container_no_promo {
    gap: 4.5rem;
  }

  .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 5px 10px;
  }
}
