.nm_loading {
  margin: 0rem 15rem;
  border-radius: 0.55rem;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 40px 40px;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: var(--nm_shadow_inset);
}

.wrapper::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: var(--nm_shadow_inset);
}

.text {
  color: var(--new_primary);
  font-size: 2.5rem;
  display: block;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.second_text {
  color: var(--new_secondary);
  font-size: 1.5rem;
  display: block;
  font-weight: normal;
  text-align: center;
  flex: 1;
}

.circle {
  height: 186px;
  width: 220px;
  position: absolute;
  animation: rotate 5s linear infinite;
}

.circle::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--loading_color);
  box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.container_not_found,
.container_error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0rem 15rem;
  margin-top: 4rem;
  gap: 1rem;
  padding: 40px 40px;
}

.icon {
  font-size: 15rem;
  display: flex;
}

.product_not_found,
.message {
  color: var(--new_primary);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.oops {
  color: var(--new_secondary);
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  flex: 1;
}

/* --------------------------------------------------------------------------------------------------------------- */

.container_categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 0 15rem;
  background-color: var(--bg);
  justify-content: space-between;
}

@media (width < 2320px) {
  .container_categories {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width < 1910px) {
  .container_categories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 1675px) {
  .wrapper {
    height: 150px;
    width: 150px;
  }
  .wrapper::before {
    width: 100px;
    height: 100px;
  }
  .circle {
    height: 106px;
    width: 110px;
  }
  .circle::before {
    height: 15px;
    width: 15px;
  }
}

@media (width < 1520px) {
  .nm_loading {
    display: flex;
    justify-content: space-between;
  }

  .text {
    font-size: 2rem;
    flex: 1;
  }
  .second_text {
    font-size: 1rem;
    flex: 1;
  }
}

@media (width < 1390px) {
  .container_categories {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (width < 1345px) {
  .container_categories {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (width < 1170px) {
  .container_not_found,
  .container_error,
  .nm_loading,
  .container_categories {
    margin: 0 10rem;
  }
}

@media (width < 1000px) {
  .container_categories,
  .container_not_found,
  .container_error,
  .nm_loading {
    margin: 0 5rem;
  }
}

@media (width < 985px) {
  .container_not_found,
  .container_error,
  .nm_loading,
  .container_categories {
    margin: 0 5rem;
  }
}

@media (width < 900px) {
  .container_not_found,
  .container_error,
  .nm_loading,
  .container_categories {
    margin: 0 1rem;
  }
  .container_error > div {
    flex: 1;
  }
}
@media (width < 680px) {
  .container_categories {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .nm_loading {
    flex-direction: column;
  }
}

@media (width < 630px) {
  .container_not_found,
  .container_error,
  .nm_loading {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .message {
    font-size: 1.8rem;
  }
}

@media (width < 430px) {
  .wrapper {
    height: 100px;
    width: 100px;
  }
  .wrapper::before {
    width: 50px;
    height: 50px;
  }
  .circle {
    height: 80px;
    width: 80px;
  }
  .icon {
    font-size: 10rem;
  }

  .text {
    font-size: 1.3rem;
  }
  .second_text {
    font-size: 1rem;
  }
}
