.login_btn {
  width: 82px;
  height: 43px;
  color: var(--new_primary);
  background-color: var(--bg);
  border-radius: 0.55rem;
  font-size: 1rem;
  border: var(--nm_border);
  box-shadow: var(--nm_shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}
.login_btn {
  gap: 0.35rem;
  padding: 0 3rem;
}
.login_btn:hover {
  cursor: pointer;
  box-shadow: var(--nm_shadow_inset);
}

.login_icon {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

@media (width < 900px) {
  .login_text {
    display: none;
  }

  .login_btn {
    width: auto;
    padding: 1rem;
  }
}
