.nm_loading,
.container_not_found,
.container_error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
  padding: 40px 40px;
}

.nm_loading {
  gap: 2rem;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: var(--nm_shadow_inset);
}

.wrapper::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: var(--nm_shadow_inset);
}

.text {
  color: var(--new_primary);
  font-size: 1rem;
  display: block;
  text-align: center;
  font-weight: bold;
  flex: 1;
}

.second_text {
  color: var(--new_secondary);
  font-size: 1rem;
  display: block;
  text-align: center;
  font-weight: normal;
  flex: 1;
}

.circle {
  height: 90px;
  width: 90px;
  position: absolute;
  animation: rotate 5s linear infinite;
}

.circle::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--loading_color);
  box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.icon {
  font-size: 15rem;
  display: flex;
}

.product_not_found,
.product_unavailable,
.message {
  color: var(--new_primary);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.oops {
  color: var(--new_secondary);
  font-size: 1rem;
  text-align: center;
  font-weight: normal;
  flex: 1;
}

.nav_link {
  color: var(--new_secondary);
  font-size: 1rem;
  text-align: center;
}
/* ----------------------------------------------- */
.container {
  margin: 0rem 15rem;
  border-radius: 0.55rem;
}

.results {
  color: var(--new_primary);
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.grid_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin: 1rem 15rem;
  gap: 2rem 2rem;
  flex: 1;
}

@media (width < 1270px) {
  .grid_items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width < 1200px) {
  .container {
    margin: 0rem 15rem;
  }
  .header {
    margin: 0rem 15rem;
  }
}

@media (width < 1170px) {
  .container {
    margin: 0rem 10rem;
  }
  .header {
    margin: 0rem 10rem;
  }

  .grid_items {
    margin: 0rem 10rem;
  }
  .nm_loading {
    flex-direction: column;
  }
}

@media (width < 1000px) {
  .container {
    margin: 0rem 5rem;
  }
  .header {
    margin: 1rem 5rem;
  }

  .grid_items {
    margin: 0rem 5rem;
  }
}

@media (width < 900px) {
  .container {
    margin: 0rem 1rem;
  }

  .header {
    margin: 1rem 1rem;
  }

  .grid_items {
    margin: 0rem 1rem;
  }

  .text {
    font-size: 1.3rem;
  }

  .second_text {
    font-size: 1rem;
  }
}

@media (width < 617px) {
  .grid_items {
    grid-template-columns: repeat(2, 1fr);
  }
  .icon {
    font-size: 5rem;
  }
}

@media (width < 460px) {
  .grid_items {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* 
@media (width < 415px) {
  .grid_items {
    margin: 0rem 1rem;
  }
}

@media (width < 335px) {
  .container {
    margin: 0rem 0.5rem;
  }
} */
