.nm_loading {
  margin: 0rem 15rem;
  border-radius: 0.55rem;
  box-shadow: var(--nm_shadow);
  border: var(--nm_border);
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 40px 40px;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: var(--nm_shadow_inset);
}

.wrapper::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: var(--nm_shadow_inset);
}

.text {
  color: var(--new_primary);
  font-size: 2.5rem;
  display: block;
}

.second_text {
  color: var(--new_secondary);
  font-size: 1.5rem;
  display: block;
}

.circle {
  height: 186px;
  width: 220px;
  position: absolute;
  animation: rotate 5s linear infinite;
}

.circle::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--loading_color);
  box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.container_error {
  box-shadow: var(--nm_shadow);
  border: var(--nm_border);
}

.not_found,
.container_error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0rem 15rem;
  border-radius: 0.55rem;
  margin-top: 4rem;
  gap: 1rem;
  padding: 40px 40px;
}

.icon {
  font-size: 15rem;
  display: flex;
}

.product_not_found,
.product_unavailable,
.message {
  color: var(--new_primary);
  font-size: 2rem;
  font-weight: bold;
}

.oops {
  color: var(--new_secondary);
  font-size: 1.5rem;
}

.nav_link {
  text-decoration: none;
  color: var(--new_secondary);
}
/* ------------------------------------------ */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 15rem;
}

.back_button {
  display: flex;
  justify-content: flex-start;
}
/* ----------------------------------------------- */
.container {
  margin: 0rem 15rem;
  border-radius: 0.55rem;
}

.results {
  color: var(--new_primary);
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.grid_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin: 1rem 15rem;
  gap: 2rem 2rem;
}

.container_product_not_found {
  /* margin: 1rem 15rem; */
  box-shadow: var(--nm_shadow);
  border: var(--nm_border);
  border-radius: 0.55rem;
}

@media (width < 1270px) {
  .grid_items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width < 1200px) {
  .container {
    margin: 0rem 15rem;
  }
  .header {
    margin: 0rem 15rem;
  }
}

@media (width < 1170px) {
  .container {
    margin: 0rem 10rem;
  }
  .header {
    margin: 0rem 10rem;
  }

  .grid_items {
    margin: 0rem 10rem;
  }
}

@media (width < 1000px) {
  .container {
    margin: 0rem 5rem;
  }
  .header {
    margin: 1rem 5rem;
  }

  .grid_items {
    margin: 0rem 5rem;
  }
}

@media (width < 900px) {
  .container {
    margin: 0rem 1rem;
  }

  .header {
    margin: 1rem 1rem;
  }

  .grid_items {
    margin: 0rem 1rem;
  }
}

@media (width < 617px) {
  .grid_items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 335px) {
  .container {
    margin: 0rem 0.5rem;
  }
}

@media (width < 400px) {
  .grid_items {
    gap: 0;
  }
}
