.back {
  margin: 0 5rem;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
}

.btn_back {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #f0f0f0;
}

.btn_back > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.btn_back:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.btn_back:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}

.container {
  margin: 0rem 5rem;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
}

.category_title {
  color: var(--secondary);
  text-transform: capitalize;
  text-align: center;
}

.product_summary {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  justify-content: center;
  column-gap: 40px;
}

.product_item {
  text-decoration: none;
  position: relative;
}

.product_item_content {
  border: 1px solid#757575;
  border-radius: 10px;
  margin-bottom: 60px;
}

.thumbnail {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.thumbnail:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
}

.heart_icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.product_title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 10px;
  min-height: 50px;
}

.container_price_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.price_container {
  border: 1px solid #757575;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  width: 80px;
  border-radius: 20px;
  height: 25px;
}

.price {
  font-weight: bold;
}

.container_btn_add {
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-top: 10px;
}

.add_btn_cart {
  background-color: var(--btn_bg);
  border: 1px solid var(--secondary);
  border-radius: 20px;
  color: var(--secondary);
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  opacity: 0.5;
  padding: 8px 10px;
  margin-bottom: 10px;
}

.add_btn_cart:hover {
  background-color: var(--btn_bg_hover);
  opacity: 1;
}
