.back {
  margin: 3rem 5rem;
  display: flex;
  justify-content: flex-start;
}

.btn_back {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #f0f0f0;
}

.btn_back > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.btn_back:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.btn_back:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}

.container {
  margin: 0rem 5rem;
  padding: 10px 10px;
  background-color: white;
  border-radius: 10px;
}

.category_title {
  color: var(--secondary);
  text-transform: capitalize;
  text-align: center;
}

.product_summary {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  gap: 60px 64px;
  justify-content: center;
}

.product_item {
  text-decoration: none;
  position: relative;
}

.thumbnail {
  border-radius: 10px;
}

.thumbnail:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
}

.heart_icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: transparent;
}

.container_btn_add {
  text-align: center;
}

.add_btn_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 2rem;
  padding: 0px 20px;
  background-color: var(--btn_bg);
  border: 1px solid var(--secondary);
  border-radius: 20px;
  color: var(--secondary);
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 18px;
  opacity: 0.5;
}

.add_btn_cart:hover {
  background-color: var(--btn_bg_hover);
  opacity: 1;
}

.product_title {
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  width: 220px;
  height: 50px;
  padding: 10px;
}

.product_price {
  text-align: center;
  font-weight: 600;
  width: 220px;
  height: 20px;
  padding: 5px;
}
