.container {
  margin: 0rem 5rem;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
}

.category_title {
  color: var(--secondary);
  text-transform: capitalize;
  text-align: center;
}

.product_summary {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  justify-content: center;
  column-gap: 40px;
}

.product_item {
  text-decoration: none;
  position: relative;
}

.product_item_content {
  outline: 1px solid rgb(195, 188, 188);
  border-radius: 10px;
  margin-bottom: 60px;
}

.thumbnail {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid rgb(195, 188, 188);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.thumbnail:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
}

.container_heart_icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.product_title {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 30px;
  min-height: 60px;
}

.container_price_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price_container,
.price_container_no_promo {
  outline: 1px solid #757575;
  color: black;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  height: 25px;
  padding: 8px 30px;
}

.price_container_no_promo {
  width: 120px;
}

.discount {
  font-weight: bold;
  font-size: 1.2rem;
  color: orangered;
}

.price {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.price_no_promo {
  font-weight: 600;
}

.container_btn_add {
  display: flex;
  justify-content: center;
}

.add_btn_cart {
  background-color: var(--btn_bg);
  border: 1px solid var(--secondary);
  border-radius: 20px;
  color: var(--secondary);
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  opacity: 0.5;
  padding: 8px 10px;
  width: 190px;
  margin: 10px;
}

.add_btn_cart:hover {
  background-color: var(--btn_bg_hover);
  opacity: 1;
}

.add_btn_cart_are_in_cart {
  background-color: var(--btn_bg_hover);
  outline: 1px solid var(--secondary);
  border-radius: 20px;
  color: var(--secondary);
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  opacity: 1;
  padding: 8px 10px;
  margin-bottom: 10px;
}
